/* hcsb_bodyElements styles use for overlay */
#hcsb_bodyElements {font: 0.75em normal arial,helvetica,sans-serif}

/* calendar styles */
#hcsb_bodyElements .ui-helper-hidden {display: none}
#hcsb_bodyElements .ui-helper-hidden-accessible {position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px)}
#hcsb_bodyElements .ui-helper-reset {margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none}
#hcsb_bodyElements .ui-helper-clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden}
#hcsb_bodyElements .ui-helper-clearfix {display: inline-block}
* html .ui-helper-clearfix {height:1%}
#hcsb_bodyElements .ui-helper-clearfix {display:block}
#hcsb_bodyElements .ui-helper-zfix {width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0)}
#hcsb_bodyElements .ui-state-disabled {cursor: default !important}
#hcsb_bodyElements .ui-icon {display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat}
#hcsb_bodyElements .ui-widget-overlay {position: absolute; top: 0; left: 0; width: 100%; height: 100%}
#hcsb_bodyElements .ui-widget {font-family: Arial,helvetica,sans-serif; font-size: 1em}
#hcsb_bodyElements .ui-widget .ui-widget {font-size: 1em}
#hcsb_bodyElements .ui-widget input, #hcsb_bodyElements .ui-widget select, #hcsb_bodyElements .ui-widget textarea, #hcsb_bodyElements .ui-widget button {font-family: Arial,helvetica,sans-serif; font-size: 1em}
#hcsb_bodyElements .ui-widget-content {border: 1px solid #999999; background: white; color: #333333}
#hcsb_bodyElements .ui-widget-content a {color: #333333}
#hcsb_bodyElements .ui-widget-header {border: 1px solid #669a16; background-color: #669a16; color: #ffffff; font-weight: bold}
#hcsb_bodyElements .ui-widget-header a {color: #ffffff}
#hcsb_bodyElements .ui-state-default, #hcsb_bodyElements .ui-widget-content .ui-state-default, #hcsb_bodyElements .ui-widget-header .ui-state-default {border: 1px solid #ffffff; background: #ffffff url(/Areas/Affiliate/Content/Styles/jquery-ui/datepicker/images/ui-bg_glass_37_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #26a3d2}
#hcsb_bodyElements .ui-state-default a, #hcsb_bodyElements .ui-state-default a:link, #hcsb_bodyElements .ui-state-default a:visited {color: #26a3d2; text-decoration: none}
#hcsb_bodyElements .ui-state-hover, #hcsb_bodyElements .ui-widget-content .ui-state-hover, #hcsb_bodyElements .ui-widget-header .ui-state-hover, #hcsb_bodyElements .ui-state-focus, #hcsb_bodyElements .ui-widget-content .ui-state-focus, #hcsb_bodyElements .ui-widget-header .ui-state-focus {background:#669a16 none no-repeat scroll center center; font-weight: normal; color: #ffffff}
#hcsb_bodyElements .ui-state-hover a, #hcsb_bodyElements .ui-state-hover a:hover {color: #ffffff; text-decoration: none}
#hcsb_bodyElements .ui-state-active, #hcsb_bodyElements .ui-widget-content .ui-state-active, #hcsb_bodyElements .ui-widget-header .ui-state-active {border: 1px solid #669a16; background: #669a16; font-weight: normal; color: #ffffff}
#hcsb_bodyElements .ui-state-active a, #hcsb_bodyElements .ui-state-active a:link, #hcsb_bodyElements .ui-state-active a:visited {color: #ffffff; text-decoration: none}
#hcsb_bodyElements .ui-widget :active {outline: none}
#hcsb_bodyElements .ui-state-highlight, #hcsb_bodyElements .ui-widget-content .ui-state-highlight, #hcsb_bodyElements .ui-widget-header .ui-state-highlight  {border: 1px solid #cae8f0; background: #cae8f0 url(/Areas/Affiliate/Content/Styles/jquery-ui/datepicker/images/ui-bg_glass_50_cae8f0_1x400.png) 50% 50% repeat-x; color: #000000}
#hcsb_bodyElements .ui-state-highlight a, #hcsb_bodyElements .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a {color: #000000}
#hcsb_bodyElements .ui-state-error, #hcsb_bodyElements .ui-widget-content .ui-state-error, #hcsb_bodyElements .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(/Areas/Affiliate/Content/Styles/jquery-ui/datepicker/images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x; color: #cd0a0a}
#hcsb_bodyElements .ui-state-error a, #hcsb_bodyElements .ui-widget-content .ui-state-error a, #hcsb_bodyElements .ui-widget-header .ui-state-error a {color: #cd0a0a}
#hcsb_bodyElements .ui-state-error-text, #hcsb_bodyElements .ui-widget-content .ui-state-error-text, #hcsb_bodyElements .ui-widget-header .ui-state-error-text {color: #cd0a0a}
#hcsb_bodyElements .ui-priority-primary, #hcsb_bodyElements .ui-widget-content .ui-priority-primary, #hcsb_bodyElements .ui-widget-header .ui-priority-primary {font-weight: bold}
#hcsb_bodyElements .ui-priority-secondary, #hcsb_bodyElements .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary {opacity: .7; filter:Alpha(Opacity=70); font-weight: normal}
#hcsb_bodyElements .ui-state-disabled, #hcsb_bodyElements .ui-widget-content .ui-state-disabled, #hcsb_bodyElements .ui-widget-header .ui-state-disabled {opacity: .35; filter:Alpha(Opacity=35); background-image: none}
#hcsb_bodyElements .ui-icon {width: 16px; height: 16px; background-image: url(/Areas/Affiliate/Content/Styles/jquery-ui/datepicker/images/ui-icons_333333_256x240.png)}
#hcsb_bodyElements .ui-widget-content .ui-icon {background-image: url(/Areas/Affiliate/Content/Styles/jquery-ui/datepicker/images/ui-icons_333333_256x240.png)}
#hcsb_bodyElements .ui-widget-header .ui-icon {background-image: url(/Areas/Affiliate/Content/Styles/jquery-ui/datepicker/images/ui-icons_ffffff_256x240.png)}
#hcsb_bodyElements .ui-state-default .ui-icon {background-image: url(/Areas/Affiliate/Content/Styles/jquery-ui/datepicker/images/ui-icons_333333_256x240.png)}
#hcsb_bodyElements .ui-state-hover .ui-icon, #hcsb_bodyElements .ui-state-focus .ui-icon {background-image: url(/Areas/Affiliate/Content/Styles/jquery-ui/datepicker/images/ui-icons_f0fcde_256x240.png)}
#hcsb_bodyElements .ui-state-active .ui-icon {background-image: url(/Areas/Affiliate/Content/Styles/jquery-ui/datepicker/images/ui-icons_ffffff_256x240.png)}
#hcsb_bodyElements .ui-state-highlight .ui-icon {background-image: url(/Areas/Affiliate/Content/Styles/jquery-ui/datepicker/images/ui-icons_000000_256x240.png)}
#hcsb_bodyElements .ui-state-error .ui-icon, #hcsb_bodyElements .ui-state-error-text .ui-icon {background-image: url(/Areas/Affiliate/Content/Styles/jquery-ui/datepicker/images/ui-icons_cd0a0a_256x240.png)}
#hcsb_bodyElements .ui-icon-carat-1-n {background-position: 0 0}
#hcsb_bodyElements .ui-icon-carat-1-ne {background-position: -16px 0}
#hcsb_bodyElements .ui-icon-carat-1-e {background-position: -32px 0}
#hcsb_bodyElements .ui-icon-carat-1-se {background-position: -48px 0}
#hcsb_bodyElements .ui-icon-carat-1-s {background-position: -64px 0}
#hcsb_bodyElements .ui-icon-carat-1-sw {background-position: -80px 0}
#hcsb_bodyElements .ui-icon-carat-1-w {background-position: -96px 0}
#hcsb_bodyElements .ui-icon-carat-1-nw {background-position: -112px 0}
#hcsb_bodyElements .ui-icon-carat-2-n-s {background-position: -128px 0}
#hcsb_bodyElements .ui-icon-carat-2-e-w {background-position: -144px 0}
#hcsb_bodyElements .ui-icon-triangle-1-n {background-position: 0 -16px}
#hcsb_bodyElements .ui-icon-triangle-1-ne {background-position: -16px -16px}
#hcsb_bodyElements .ui-icon-triangle-1-e {background-position: -32px -16px}
#hcsb_bodyElements .ui-icon-triangle-1-se {background-position: -48px -16px}
#hcsb_bodyElements .ui-icon-triangle-1-s {background-position: -64px -16px}
#hcsb_bodyElements .ui-icon-triangle-1-sw {background-position: -80px -16px}
#hcsb_bodyElements .ui-icon-triangle-1-w {background-position: -96px -16px}
#hcsb_bodyElements .ui-icon-triangle-1-nw {background-position: -112px -16px}
#hcsb_bodyElements .ui-icon-triangle-2-n-s {background-position: -128px -16px}
#hcsb_bodyElements .ui-icon-triangle-2-e-w {background-position: -144px -16px}
#hcsb_bodyElements .ui-icon-arrow-1-n {background-position: 0 -32px}
#hcsb_bodyElements .ui-icon-arrow-1-ne {background-position: -16px -32px}
#hcsb_bodyElements .ui-icon-arrow-1-e {background-position: -32px -32px}
#hcsb_bodyElements .ui-icon-arrow-1-se {background-position: -48px -32px}
#hcsb_bodyElements .ui-icon-arrow-1-s {background-position: -64px -32px}
#hcsb_bodyElements .ui-icon-arrow-1-sw {background-position: -80px -32px}
#hcsb_bodyElements .ui-icon-arrow-1-w {background-position: -96px -32px}
#hcsb_bodyElements .ui-icon-arrow-1-nw {background-position: -112px -32px}
#hcsb_bodyElements .ui-icon-arrow-2-n-s {background-position: -128px -32px}
#hcsb_bodyElements .ui-icon-arrow-2-ne-sw {background-position: -144px -32px}
#hcsb_bodyElements .ui-icon-arrow-2-e-w {background-position: -160px -32px}
#hcsb_bodyElements .ui-icon-arrow-2-se-nw {background-position: -176px -32px}
#hcsb_bodyElements .ui-icon-arrowstop-1-n {background-position: -192px -32px}
#hcsb_bodyElements .ui-icon-arrowstop-1-e {background-position: -208px -32px}
#hcsb_bodyElements .ui-icon-arrowstop-1-s {background-position: -224px -32px}
#hcsb_bodyElements .ui-icon-arrowstop-1-w {background-position: -240px -32px}
#hcsb_bodyElements .ui-icon-arrowthick-1-n {background-position: 0 -48px}
#hcsb_bodyElements .ui-icon-arrowthick-1-ne {background-position: -16px -48px}
#hcsb_bodyElements .ui-icon-arrowthick-1-e {background-position: -32px -48px}
#hcsb_bodyElements .ui-icon-arrowthick-1-se {background-position: -48px -48px}
#hcsb_bodyElements .ui-icon-arrowthick-1-s {background-position: -64px -48px}
#hcsb_bodyElements .ui-icon-arrowthick-1-sw {background-position: -80px -48px}
#hcsb_bodyElements .ui-icon-arrowthick-1-w {background-position: -96px -48px}
#hcsb_bodyElements .ui-icon-arrowthick-1-nw {background-position: -112px -48px}
#hcsb_bodyElements .ui-icon-arrowthick-2-n-s {background-position: -128px -48px}
#hcsb_bodyElements .ui-icon-arrowthick-2-ne-sw {background-position: -144px -48px}
#hcsb_bodyElements .ui-icon-arrowthick-2-e-w {background-position: -160px -48px}
#hcsb_bodyElements .ui-icon-arrowthick-2-se-nw {background-position: -176px -48px}
#hcsb_bodyElements .ui-icon-arrowthickstop-1-n {background-position: -192px -48px}
#hcsb_bodyElements .ui-icon-arrowthickstop-1-e {background-position: -208px -48px}
#hcsb_bodyElements .ui-icon-arrowthickstop-1-s {background-position: -224px -48px}
#hcsb_bodyElements .ui-icon-arrowthickstop-1-w {background-position: -240px -48px}
#hcsb_bodyElements .ui-icon-arrowreturnthick-1-w {background-position: 0 -64px}
#hcsb_bodyElements .ui-icon-arrowreturnthick-1-n {background-position: -16px -64px}
#hcsb_bodyElements .ui-icon-arrowreturnthick-1-e {background-position: -32px -64px}
#hcsb_bodyElements .ui-icon-arrowreturnthick-1-s {background-position: -48px -64px}
#hcsb_bodyElements .ui-icon-arrowreturn-1-w {background-position: -64px -64px}
#hcsb_bodyElements .ui-icon-arrowreturn-1-n {background-position: -80px -64px}
#hcsb_bodyElements .ui-icon-arrowreturn-1-e {background-position: -96px -64px}
#hcsb_bodyElements .ui-icon-arrowreturn-1-s {background-position: -112px -64px}
#hcsb_bodyElements .ui-icon-arrowrefresh-1-w {background-position: -128px -64px}
#hcsb_bodyElements .ui-icon-arrowrefresh-1-n {background-position: -144px -64px}
#hcsb_bodyElements .ui-icon-arrowrefresh-1-e {background-position: -160px -64px}
#hcsb_bodyElements .ui-icon-arrowrefresh-1-s {background-position: -176px -64px}
#hcsb_bodyElements .ui-icon-arrow-4 {background-position: 0 -80px}
#hcsb_bodyElements .ui-icon-arrow-4-diag {background-position: -16px -80px}
#hcsb_bodyElements .ui-icon-extlink {background-position: -32px -80px}
#hcsb_bodyElements .ui-icon-newwin {background-position: -48px -80px}
#hcsb_bodyElements .ui-icon-refresh {background-position: -64px -80px}
#hcsb_bodyElements .ui-icon-shuffle {background-position: -80px -80px}
#hcsb_bodyElements .ui-icon-transfer-e-w {background-position: -96px -80px}
#hcsb_bodyElements .ui-icon-transferthick-e-w {background-position: -112px -80px}
#hcsb_bodyElements .ui-icon-folder-collapsed {background-position: 0 -96px}
#hcsb_bodyElements .ui-icon-folder-open {background-position: -16px -96px}
#hcsb_bodyElements .ui-icon-document {background-position: -32px -96px}
#hcsb_bodyElements .ui-icon-document-b {background-position: -48px -96px}
#hcsb_bodyElements .ui-icon-note {background-position: -64px -96px}
#hcsb_bodyElements .ui-icon-mail-closed {background-position: -80px -96px}
#hcsb_bodyElements .ui-icon-mail-open {background-position: -96px -96px}
#hcsb_bodyElements .ui-icon-suitcase {background-position: -112px -96px}
#hcsb_bodyElements .ui-icon-comment {background-position: -128px -96px}
#hcsb_bodyElements .ui-icon-person {background-position: -144px -96px}
#hcsb_bodyElements .ui-icon-print {background-position: -160px -96px}
#hcsb_bodyElements .ui-icon-trash {background-position: -176px -96px}
#hcsb_bodyElements .ui-icon-locked {background-position: -192px -96px}
#hcsb_bodyElements .ui-icon-unlocked {background-position: -208px -96px}
#hcsb_bodyElements .ui-icon-bookmark {background-position: -224px -96px}
#hcsb_bodyElements .ui-icon-tag {background-position: -240px -96px}
#hcsb_bodyElements .ui-icon-home {background-position: 0 -112px}
#hcsb_bodyElements .ui-icon-flag {background-position: -16px -112px}
#hcsb_bodyElements .ui-icon-calendar {background-position: -32px -112px}
#hcsb_bodyElements .ui-icon-cart {background-position: -48px -112px}
#hcsb_bodyElements .ui-icon-pencil {background-position: -64px -112px}
#hcsb_bodyElements .ui-icon-clock {background-position: -80px -112px}
#hcsb_bodyElements .ui-icon-disk {background-position: -96px -112px}
#hcsb_bodyElements .ui-icon-calculator {background-position: -112px -112px}
#hcsb_bodyElements .ui-icon-zoomin {background-position: -128px -112px}
#hcsb_bodyElements .ui-icon-zoomout {background-position: -144px -112px}
#hcsb_bodyElements .ui-icon-search {background-position: -160px -112px}
#hcsb_bodyElements .ui-icon-wrench {background-position: -176px -112px}
#hcsb_bodyElements .ui-icon-gear {background-position: -192px -112px}
#hcsb_bodyElements .ui-icon-heart {background-position: -208px -112px}
#hcsb_bodyElements .ui-icon-star {background-position: -224px -112px}
#hcsb_bodyElements .ui-icon-link {background-position: -240px -112px}
#hcsb_bodyElements .ui-icon-cancel {background-position: 0 -128px}
#hcsb_bodyElements .ui-icon-plus {background-position: -16px -128px}
#hcsb_bodyElements .ui-icon-plusthick {background-position: -32px -128px}
#hcsb_bodyElements .ui-icon-minus {background-position: -48px -128px}
#hcsb_bodyElements .ui-icon-minusthick {background-position: -64px -128px}
#hcsb_bodyElements .ui-icon-close {background-position: -80px -128px}
#hcsb_bodyElements .ui-icon-closethick {background-position: -96px -128px}
#hcsb_bodyElements .ui-icon-key {background-position: -112px -128px}
#hcsb_bodyElements .ui-icon-lightbulb {background-position: -128px -128px}
#hcsb_bodyElements .ui-icon-scissors {background-position: -144px -128px}
#hcsb_bodyElements .ui-icon-clipboard {background-position: -160px -128px}
#hcsb_bodyElements .ui-icon-copy {background-position: -176px -128px}
#hcsb_bodyElements .ui-icon-contact {background-position: -192px -128px}
#hcsb_bodyElements .ui-icon-image {background-position: -208px -128px}
#hcsb_bodyElements .ui-icon-video {background-position: -224px -128px}
#hcsb_bodyElements .ui-icon-script {background-position: -240px -128px}
#hcsb_bodyElements .ui-icon-alert {background-position: 0 -144px}
#hcsb_bodyElements .ui-icon-info {background-position: -16px -144px}
#hcsb_bodyElements .ui-icon-notice {background-position: -32px -144px}
#hcsb_bodyElements .ui-icon-help {background-position: -48px -144px}
#hcsb_bodyElements .ui-icon-check {background-position: -64px -144px}
#hcsb_bodyElements .ui-icon-bullet {background-position: -80px -144px}
#hcsb_bodyElements .ui-icon-radio-off {background-position: -96px -144px}
#hcsb_bodyElements .ui-icon-radio-on {background-position: -112px -144px}
#hcsb_bodyElements .ui-icon-pin-w {background-position: -128px -144px}
#hcsb_bodyElements .ui-icon-pin-s {background-position: -144px -144px}
#hcsb_bodyElements .ui-icon-play {background-position: 0 -160px}
#hcsb_bodyElements .ui-icon-pause {background-position: -16px -160px}
#hcsb_bodyElements .ui-icon-seek-next {background-position: -32px -160px}
#hcsb_bodyElements .ui-icon-seek-prev {background-position: -48px -160px}
#hcsb_bodyElements .ui-icon-seek-end {background-position: -64px -160px}
#hcsb_bodyElements .ui-icon-seek-start {background-position: -80px -160px}
#hcsb_bodyElements .ui-icon-seek-first {background-position: -80px -160px}
#hcsb_bodyElements .ui-icon-stop {background-position: -96px -160px}
#hcsb_bodyElements .ui-icon-eject {background-position: -112px -160px}
#hcsb_bodyElements .ui-icon-volume-off {background-position: -128px -160px}
#hcsb_bodyElements .ui-icon-volume-on {background-position: -144px -160px}
#hcsb_bodyElements .ui-icon-power {background-position: 0 -176px}
#hcsb_bodyElements .ui-icon-signal-diag {background-position: -16px -176px}
#hcsb_bodyElements .ui-icon-signal {background-position: -32px -176px}
#hcsb_bodyElements .ui-icon-battery-0 {background-position: -48px -176px}
#hcsb_bodyElements .ui-icon-battery-1 {background-position: -64px -176px}
#hcsb_bodyElements .ui-icon-battery-2 {background-position: -80px -176px}
#hcsb_bodyElements .ui-icon-battery-3 {background-position: -96px -176px}
#hcsb_bodyElements .ui-icon-circle-plus {background-position: 0 -192px}
#hcsb_bodyElements .ui-icon-circle-minus {background-position: -16px -192px}
#hcsb_bodyElements .ui-icon-circle-close {background-position: -32px -192px}
#hcsb_bodyElements .ui-icon-circle-triangle-e {background-position: -48px -192px}
#hcsb_bodyElements .ui-icon-circle-triangle-s {background-position: -64px -192px}
#hcsb_bodyElements .ui-icon-circle-triangle-w {background-position: -80px -192px}
#hcsb_bodyElements .ui-icon-circle-triangle-n {background-position: -96px -192px}
#hcsb_bodyElements .ui-icon-circle-arrow-e {background-position: -112px -192px}
#hcsb_bodyElements .ui-icon-circle-arrow-s {background-position: -128px -192px}
#hcsb_bodyElements .ui-icon-circle-arrow-w {background-position: -144px -192px}
#hcsb_bodyElements .ui-icon-circle-arrow-n {background-position: -160px -192px}
#hcsb_bodyElements .ui-icon-circle-zoomin {background-position: -176px -192px}
#hcsb_bodyElements .ui-icon-circle-zoomout {background-position: -192px -192px}
#hcsb_bodyElements .ui-icon-circle-check {background-position: -208px -192px}
#hcsb_bodyElements .ui-icon-circlesmall-plus {background-position: 0 -208px}
#hcsb_bodyElements .ui-icon-circlesmall-minus {background-position: -16px -208px}
#hcsb_bodyElements .ui-icon-circlesmall-close {background-position: -32px -208px}
#hcsb_bodyElements .ui-icon-squaresmall-plus {background-position: -48px -208px}
#hcsb_bodyElements .ui-icon-squaresmall-minus {background-position: -64px -208px}
#hcsb_bodyElements .ui-icon-squaresmall-close {background-position: -80px -208px}
#hcsb_bodyElements .ui-icon-grip-dotted-vertical {background-position: 0 -224px}
#hcsb_bodyElements .ui-icon-grip-dotted-horizontal {background-position: -16px -224px}
#hcsb_bodyElements .ui-icon-grip-solid-vertical {background-position: -32px -224px}
#hcsb_bodyElements .ui-icon-grip-solid-horizontal {background-position: -48px -224px}
#hcsb_bodyElements .ui-icon-gripsmall-diagonal-se {background-position: -64px -224px}
#hcsb_bodyElements .ui-icon-grip-diagonal-se {background-position: -80px -224px}
#hcsb_bodyElements .ui-corner-tl {-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px}
#hcsb_bodyElements .ui-corner-tr {-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px}
#hcsb_bodyElements .ui-corner-bl {-moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px}
#hcsb_bodyElements .ui-corner-br {-moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px}
#hcsb_bodyElements .ui-corner-top {-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px}
#hcsb_bodyElements .ui-corner-bottom {-moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px}
#hcsb_bodyElements .ui-corner-right { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px}
#hcsb_bodyElements .ui-corner-left {-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px}
#hcsb_bodyElements .ui-corner-all { border-radius: 5px}
#hcsb_bodyElements .ui-widget-overlay {background: #aaaaaa url(/Areas/Affiliate/Content/Styles/jquery-ui/datepicker/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30)}
#hcsb_bodyElements .ui-widget-shadow {margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(/Areas/Affiliate/Content/Styles/jquery-ui/datepicker/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px}
#hcsb_bodyElements .ui-datepicker {width: 19em; padding: .2em .2em 0; display: none}
#hcsb_bodyElements .ui-datepicker .ui-datepicker-header {position:relative; padding:.2em 0}
#hcsb_bodyElements .ui-datepicker .ui-datepicker-prev, #hcsb_bodyElements .ui-datepicker .ui-datepicker-next {position:absolute; top: 4px; width: 1.8em; height: 1.8em}
#hcsb_bodyElements .ui-datepicker .ui-datepicker-prev-hover, #hcsb_bodyElements .ui-datepicker .ui-datepicker-next-hover {top: 4px}
#hcsb_bodyElements .ui-datepicker .ui-datepicker-prev {left:2px; cursor: pointer}
#hcsb_bodyElements .ui-datepicker .ui-datepicker-next {right:2px; cursor: pointer}
#hcsb_bodyElements .ui-datepicker .ui-datepicker-prev-hover {left:2px}
#hcsb_bodyElements .ui-datepicker .ui-datepicker-next-hover {right:2px}
#hcsb_bodyElements .ui-datepicker .ui-datepicker-prev span, #hcsb_bodyElements .ui-datepicker .ui-datepicker-next span {display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
#hcsb_bodyElements .ui-datepicker .ui-datepicker-title {margin: 0 2.3em; line-height: 1.8em; text-align: center}
#hcsb_bodyElements .ui-datepicker .ui-datepicker-title select {font-size:1em; margin:2px}
#hcsb_bodyElements .ui-datepicker-title .ui-datepicker-year { display: none; }
#hcsb_bodyElements .ui-datepicker select.ui-datepicker-month-year {width: 100%}
#hcsb_bodyElements .ui-datepicker select.ui-datepicker-month, 
#hcsb_bodyElements .ui-datepicker select.ui-datepicker-year {width: 49%}
#hcsb_bodyElements .ui-datepicker-title select.ui-datepicker-month, 
#hcsb_bodyElements .ui-datepicker-title select.ui-datepicker-year { width: 89%;}
#hcsb_bodyElements .ui-datepicker table {width: 100%; font-size: 1em; border-collapse: collapse; margin:0 0 .4em}
#hcsb_bodyElements .ui-datepicker th {padding: .7em .3em; text-align: center; font-weight: bold; border: 0}
#hcsb_bodyElements.hc_rtl .ui-datepicker th {padding: .7em 0; font-size: 0.8em}
#hcsb_bodyElements .ui-datepicker td {border: 0; padding: 1px}
#hcsb_bodyElements .ui-datepicker td span, #hcsb_bodyElements .ui-datepicker td a {display: block; padding: .2em; text-align: right; text-decoration: none}
#hcsb_bodyElements .ui-datepicker .ui-datepicker-buttonpane {background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0}
#hcsb_bodyElements .ui-datepicker .ui-datepicker-buttonpane button {float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible}
#hcsb_bodyElements .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {float:left}
#hcsb_bodyElements .ui-datepicker.ui-datepicker-multi {width:auto}
#hcsb_bodyElements .ui-datepicker-multi .ui-datepicker-group {float:left}
#hcsb_bodyElements .ui-datepicker-multi .ui-datepicker-group table {width:95%; margin:0 auto .4em}
#hcsb_bodyElements .ui-datepicker-multi-2 .ui-datepicker-group {width:50%}
#hcsb_bodyElements .ui-datepicker-multi-3 .ui-datepicker-group {width:33.3%}
#hcsb_bodyElements .ui-datepicker-multi-4 .ui-datepicker-group {width:25%}
#hcsb_bodyElements .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {border-left-width:0}
#hcsb_bodyElements .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {border-left-width:0}
#hcsb_bodyElements .ui-datepicker-multi .ui-datepicker-buttonpane {clear:left}
#hcsb_bodyElements .ui-datepicker-row-break {clear:both; width:100%}
#hcsb_bodyElements .ui-datepicker-rtl {direction: rtl}
#hcsb_bodyElements .ui-datepicker-rtl .ui-datepicker-prev {right: 2px; left: auto}
#hcsb_bodyElements .ui-datepicker-rtl .ui-datepicker-next {left: 2px; right: auto}
#hcsb_bodyElements .ui-datepicker-rtl .ui-datepicker-prev:hover {right: 1px; left: auto}
#hcsb_bodyElements .ui-datepicker-rtl .ui-datepicker-next:hover {left: 1px; right: auto}
#hcsb_bodyElements .ui-datepicker-rtl .ui-datepicker-buttonpane {clear:right}
#hcsb_bodyElements .ui-datepicker-rtl .ui-datepicker-buttonpane button {float: left}
#hcsb_bodyElements .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {float:right}
#hcsb_bodyElements .ui-datepicker-rtl .ui-datepicker-group {float:right}
#hcsb_bodyElements .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {border-right-width:0; border-left-width:1px}
#hcsb_bodyElements .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {border-right-width:0; border-left-width:1px}
#hcsb_bodyElements .ui-datepicker-cover {display: none; /*sorry for IE5*/display/**/: block; /*sorry for IE5*/position: absolute; /*must have*/   z-index: -1; /*must have*/   filter: mask(); /*must have*/    top: -4px; /*must have*/    left: -4px; /*must have*/    width: 200px; /*must have*/    height: 200px; /*must have*/}
#hcsb_bodyElements #ui-datepicker-div{z-index:502!important}

#hcsb_bodyElements .ui-datepicker .hc_cal_date_upper a {
  background: #ffc000 !important;
  border-color: #ffc000 !important;
  color: #263238 !important;
}
#hcsb_bodyElements .ui-datepicker .hc_cal_date_range a {
  background: #ffc000 !important;
  border-color: #ffc000 !important;
  color: #263238 !important;
}
#hcsb_bodyElements .ui-datepicker .hc_cal_date_lower a {
  background: #ffc000 !important;
  border-color: #ffc000 !important;
  color: #263238 !important;
}
#hcsb_bodyElements .ui-datepicker .hc_cal_date_upper a.ui-state-default,
#hcsb_bodyElements .ui-datepicker .hc_cal_date_range a.ui-state-default,
#hcsb_bodyElements .ui-datepicker .hc_cal_date_lower a.ui-state-default {
  color: #263238 !important;
}
#hcsb_bodyElements .ui-datepicker .hc_cal_date_upper a.ui-state-active,
#hcsb_bodyElements .ui-datepicker .hc_cal_date_range a.ui-state-active,
#hcsb_bodyElements .ui-datepicker .hc_cal_date_lower a.ui-state-active {
  background: #92defb !important;
  border-color: #92defb !important;
  font-weight: normal!important;
  color: #263238 !important;
}
#hcsb_bodyElements .ui-datepicker .hc_cal_date_upper a.ui-state-hover,
#hcsb_bodyElements .ui-datepicker .hc_cal_date_range a.ui-state-hover,
#hcsb_bodyElements .ui-datepicker .hc_cal_date_lower a.ui-state-hover {
  color: #ffffff !important;
  background: #00aef0 !important;
  border-color: #00aef0 !important;
  font-weight: bold!important;
}

/* prevent the content show up before the calendar done */
#hcsb_bodyElements .ui-state-disabled {text-decoration:line-through}
#hcsb_bodyElements .ui-state-disabled.ui-datepicker-other-month {text-decoration:none}
#hcsb_bodyElements .ui-datepicker-month,
#hcsb_bodyElements .ui-datepicker-year {border-radius:5px;-o-border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border:1px solid #666;padding:2px}
#hcsb_bodyElements .ui-datepicker-month {margin-right:5px!important}

/* auto complete */
#hcsb_bodyElements .ui-autocomplete
{
    -moz-box-shadow: 0 2px 5px #333;
    -webkit-box-shadow: 0 2px 5px #333;
    -o-box-shadow: 0 2px 5px #333;
    box-shadow: 0 2px 5px #333;
    font-size: 1.1em!important;
    background: #fff!important;
    list-style-type: none;
    padding: 1px;
}

#hcsb_bodyElements .ui-autocomplete li.hc_t_newType {
    border-top:1px solid #ccc;
}

#hcsb_bodyElements .ui-autocomplete li:nth-of-type(2) {
    border-top:0;
}

#hcsb_bodyElements .ui-autocomplete a {
     display: block;
    position: relative;
    cursor: pointer;
    line-height: 2em!important;
    white-space: nowrap;
    padding: .2em .4em;
    text-align:left;
}

#hcsb_bodyElements .ui-autocomplete .hc_e_numHtls {  
       font-size: 0.95em;
    color: #777;}

#hcsb_bodyElements .ui-autocomplete .hc_icon {
     display: block;
    height: 20px;
    width: 20px;
    float:right;
    margin-top:2px;
    background: url(/Images/hc_icons_ac_transparent.png) no-repeat 0 0;

}

#hcsb_bodyElements .ui-autocomplete li a em {
    font-style:normal;
    float:right;
    padding-right:5px;
    padding-left:15px;
}

#hcsb_bodyElements .ui-autocomplete li a:hover .hc_icon {
        background-color:none;
}

#hcsb_bodyElements .ui-autocomplete  li a.ui-state-hover .hc_e_numHtls, 
#hcsb_bodyElements .ui-autocomplete  li a:hover .hc_e_numHtls {
    color: #fff!important;
}

/* NEW ICONS */
#hcsb_bodyElements .ui-autocomplete li#hcsb_bodyElements .ui-autocomplete_t_countries a .hc_icon {
    background-position: 0 0;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_countries a.ui-state-hover .hc_icon, 
#hcsb_bodyElements .ui-autocomplete li.hc_t_countries a:hover .hc_icon {
    background-position: 0 -20px;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_regions a .hc_icon {
    background-position: -20px 0;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_regions a.ui-state-hover .hc_icon, 
#hcsb_bodyElements .ui-autocomplete li.hc_t_regions a:hover .hc_icon {
    background-position: -20px -20px;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_cities a .hc_icon {
    background-position: -40px 0;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_cities a.ui-state-hover .hc_icon, 
#hcsb_bodyElements .ui-autocomplete li.hc_t_cities a:hover .hc_icon {
    background-position: -40px -20px;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_towns a .hc_icon {
    background-position: -60px 0;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_towns a.ui-state-hover .hc_icon, 
#hcsb_bodyElements .ui-autocomplete li.hc_t_towns a:hover .hc_icon {
    background-position: -60px -20px;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_districts a .hc_icon {
    background-position: -80px 0;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_districts a.ui-state-hover .hc_icon, 
#hcsb_bodyElements .ui-autocomplete li.hc_t_districts a:hover .hc_icon {
    background-position: -80px -20px;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_landmarks a .hc_icon {
    background-position: -100px 0;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_landmarks a.ui-state-hover .hc_icon, 
#hcsb_bodyElements .ui-autocomplete li.hc_t_landmarks a:hover .hc_icon {
    background-position: -100px -20px;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_touristregions a .hc_icon {
    background-position: -120px 0;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_touristregions a.ui-state-hover .hc_icon, 
#hcsb_bodyElements .ui-autocomplete li.hc_t_touristregions a:hover .hc_icon {
    background-position: -120px -20px;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_airports a .hc_icon {
    background-position: -140px 0;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_airports a.ui-state-hover .hc_icon, 
#hcsb_bodyElements .ui-autocomplete li.hc_t_airports a:hover .hc_icon {
    background-position: -140px -20px;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_hotels a .hc_icon {
    background-position: -160px 0;
}
#hcsb_bodyElements .ui-autocomplete li.hc_t_hotels a.ui-state-hover .hc_icon, 
#hcsb_bodyElements .ui-autocomplete li.hc_t_hotels a:hover .hc_icon {
    background-position: -160px -20px;
}

#hcsb_bodyElements .ui-front { z-index: 100; }

#hcsb_bodyElements .ui-menu { list-style:none; padding: 2px; margin: 0; display:block; float: left; }
#hcsb_bodyElements .ui-menu .ui-menu { margin-top: -3px; }
#hcsb_bodyElements .ui-menu .ui-menu-item { margin:0; padding: 0; zoom: 1; float: left; clear: left; width: 100%; }
#hcsb_bodyElements .ui-menu .ui-menu-item a { text-decoration:none; display:block; padding:.2em .4em; line-height:1.5; zoom:1; }
#hcsb_bodyElements.ui-menu .ui-menu-item a.ui-state-hover,
#hcsb_bodyElements.ui-menu .ui-menu-item a.ui-state-active { font-weight: normal; margin: 0; }

/* autocomplete - RTL */
#hcsb_bodyElements.hc_rtl .ui-autocomplete a {padding: 2px;position: relative; text-align: right; direction: rtl}
#hcsb_bodyElements.hc_rtl .ui-autocomplete .hc_e_numHtls {position: absolute; left: 10px; right: auto; top: 0; line-height: 2em}
#hcsb_bodyElements.hc_rtl .ui-autocomplete .hc_icon {right: 11px; left: auto}

/* clearfix */
* html .hcsb_clearfix {height: 1%} 

*+html .hcsb_clearfix {display: inline-block}

.hcsb_clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}