body{ }.captiond-images.path-1{background:url("../../img/sprites/homepage-how-it-works-green.png") repeat scroll -9px -1px;display:inline-block;height:145px;width:145px}
.captiond-images.path-2{background:url("../../img/sprites/homepage-how-it-works-green.png") repeat scroll -269px -1px;display:inline-block;height:145px;width:145px}.captiond-images.path-3{background:url("../../img/sprites/homepage-how-it-works-green.png") repeat scroll -539px -1px;display:inline-block;height:145px;width:145px}.new-footer{margin:0}.video-section{height:680px;left:0;overflow:hidden;position:absolute;top:0;width:100%}.how-it-works-video{box-shadow:0 0 10px 1px #333;margin:30px auto 20px;width:100%}.video-section video{width:100%}.homepage-content,.popular-trips-section,.mobile-section,.featured{padding:5px 0 0 0}.homepage-content,.popular-trips-section,.mobile-section,.featured h2{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}.home-page-bg{position:relative}.tranparent-bg{background:url("../../img/grey-bg-for-search.png")repeat;position:relative;height:680px;overflow:hidden}.homepage-movingText{color:#fff}
.homepage-movingText2{padding:95px 0 0;text-align:center;margin:0 0 30px}.homepage-movingText2 h1{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:bold;font-size:30px;margin:25px 0 20px;text-shadow:1px 1px 2px #666}
.que-srch-cont{float:left}.js-suggestions-active.places-search-list{float:left;text-align:left}.homepage-movingText p{font-size:22px;color:#fff;margin:0 0 20px;text-shadow:1px 1px 2px #666}.fa.fa-youtube-play{font-size:30px;margin:0 20px 0 0;vertical-align:middle}.homepage-movingText2 button{border:2px solid #fff;border-radius:2px;font-size:22px;margin:0 auto;padding:6px 0 6px 5px;width:190px}.select-city-section-bg{position:absolute;top:270px;width:100%;z-index:1}.create-plan-content{margin:0 auto;text-align:center;width:590px;padding:0 0 100px}.create-plan-content input{border:1px solid #bec3c7;border-radius:5px;display:inline-block;height:38px;padding:2px 0 2px 12px;vertical-align:middle;width:445px}input.select-city-txt{color:#666;font-size:18px;font-weight:bold}.create-plan-content .btn.btn-success{font-size:20px;line-height:32px;margin:0 0 0 4px;padding:2px 18px}.homepage-content .col-sm-4.col-md-4.col-xs-4{margin:15px 0 0}.homepage-content .how-its-work{text-align:left}h2.how-its-work{color:#333;margin:10px auto 10px;padding:0 0 1px;text-align:center;width:270px;height:43px}.how-its-work span{display:block;padding:0 0 6px 0;width:100%;text-align:center}.featured-top-section .how-its-work>span{padding-top:0}.caption>p{margin:0 auto;width:255px;word-wrap:break-word}




/*body { 
  height: 100%;
  overflow-y: scroll;
  perspective: 1px;
}

.homepage-content4 {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  
}

.homepage-content4:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.homepage-content4:before {
  background-image: url("./homepage-4.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
} */


/* mouse over link */
a:hover {
    color: hotpink;

}

.tranparent-bg1 {
height:10px;
}


/* Blinking Cursor at Homepage Center */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*  CSS of WHY TRAVEL IN 1000 */
.textWhyUs{
	padding-left: 620px;
	position:absolute;
	width:1200px;
}
.WhyUsImage{
	padding-left:100px;
}
.bgColor{
	padding-top:330px;
}
.homepage-content5{
	/*background:#f0f0f0;*/
	background-image:url('../Styles6/homepage-3.jpg');
	height:460px;	
}


/* END of CSS of WHY TRAVEL IN 1000 */

.com {
width:100%;
height:100%;
position:relative;
}

/* Plan Button */
.button-room a.left:before,.button-room a.right:before,.button-stroke:before{content:"";left:0;bottom:0}
.button-room{background:#40E0D0;display:inline-block;cursor:pointer;vertical-align:middle;height:35px;overflow:hidden; position:absolute; line-height:35px;}
.button-room a.left{padding:0 30px;display:inline-block;z-index:2;position:relative;color:#fff;text-decoration:none; font-size:10pt;}
.button-room a.left:before{z-index:-1;position:absolute;width:100%;height:0;background:#222;-webkit-transition:all .3s;transition:all .3s}
.button-room a.left:hover:before{height:100%}
.button-room a.right{padding:0;position:absolute;top:0;right:0;background:#333;width:100px;height:100px;z-index:2;line-height:normal} 
.HelpMeChoose{ padding-left:220px; width:100px;}

/* Get Started */
.getStarted{
text-align:center;
}
.getStarted2{
padding-left:0px;
}
.feature .asd{
text-align:center;
}
.feature img{
margin-left:110px;
}
.feature p{
text-align:center;
}
