
::-webkit-input-placeholder { /* WebKit browsers */
  color: #000;
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #000;
  font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #000;
  font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #000 !important;
  font-style: italic;  
}


/** page structure **/

#searchfield { display: block; width: 100%; text-align: center; position:relative; }

#searchfield form {
  padding: 5px;
}
#searchfield form .biginput {
  width: 300px;
  height: 35px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border-radius: 1px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.0em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
    background: rgba(255, 255, 255, 0.9);

}
#searchfield form .biginput:focus {
  color: #858585;
}


.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 0.8em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }


#searchfield form .span2 {
  width: 100px;
  height: 35px;
  background-color: #fff;
    border-radius: 1px;

  padding-left:-100px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.0em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: rgba(255, 255, 255, 0.9);
}


.Or-Round{ position:absolute; padding-left:320px;}
.or-round{background:#fff;color:#333;border-radius:100px 100px 100px 100px;width:40px;height:40px;text-align:center;line-height:40px;margin:27px auto 27px;font-size:16pt;clear:both;letter-spacing:1px;font-weight:600;font-family:'Roboto' , sans-serif;}