@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), 
  url(https://dfcy2g1llb1yf.cloudfront.net/resources_version/desktop/style/live/web-fonts-https/source-sans-pro/SourceSansPro.woff2?cache=220220150714),
  url(https://dfcy2g1llb1yf.cloudfront.net/resources_version/desktop/style/live/web-fonts-https/source-sans-pro/SourceSansPro-Regular.ttf?cache=220220150714);
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), 
  url(https://dfcy2g1llb1yf.cloudfront.net/resources_version/desktop/style/live/web-fonts-https/source-sans-pro/sourcesansprobold.woff2?cache=220220150714) format('woff2'),
  url(https://dfcy2g1llb1yf.cloudfront.net/resources_version/desktop/style/live/web-fonts-https/source-sans-pro/SourceSansPro-Regular.ttf?cache=220220150714) format('woff2');
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc !important;
  font-style: italic;  
}



/** page structure **/

#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

#searchfield form {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding: 5px;
  margin: 5px 0 0 0;
}
#searchfield form .biginput {
  width: 300px;
  height: 35px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.0em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}


.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 0.8em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }


#searchfield form .span2 {
  width: 100px;
  height: 35px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.0em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}


